@model List<MyElearningProject.DAL.Entities.Comment>

<div class="tab-pane active" id="home" role="tabpanel">
    <div class="card-block">
        <div class="profiletimeline">
            @foreach (var item in Model)
            {
            <div class="sl-item">
                <div class="sl-left"> <img src="~/material-lite-master/assets/images/users/3.jpg" alt="user" class="img-circle"> </div>
                <div class="sl-right">
                    <div>
                        <a href="#" class="link">@item.Student.Name @item.Student.Surname</a> <span class="sl-date">@item.Course.Title - @item.CommentDate</span>
                        <p class="m-t-10">@item.CommentText</p>
                    </div>
                </div>
            </div>
            <hr>
            }
        </div>
    </div>
</div>
