@model List<MyElearningProject.DAL.Entities.Instructor>

@foreach (var item in Model)
{
<div class="col-lg-4 col-xlg-3 col-md-5">
    <!-- Column -->
    <div class="card">
        <img class="card-img-top" src="@item.CoverImage" alt="Card image cap">
        <div class="card-block little-profile text-center">
            <div class="pro-img"><img src="@item.ImageUrl" alt="user" /></div>
            <h3 class="m-b-0">@item.Name @item.Surname</h3>
            <p>@item.Title</p>
            <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Follow</a>
            <div class="row text-center m-t-20">
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">@ViewBag.courseCount</h3><small>Articles</small>
                </div>
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">@ViewBag.commentCount</h3><small>Followers</small>
                </div>
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">6035</h3><small>Following</small>
                </div>
            </div>
        </div>
    </div>
</div>
}
