
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

    <!-- Header Start -->
    @Html.Action("PartialHeader", "UIContact")
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Bize Ulaşın</h6>
            <h1 class="mb-5">Herhangi Bir Soru İçin İletişime Geçin</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                @Html.Action("PartialContactInformation", "UIContact")
                @Html.Action("PartialContactInformationAddress", "UIContact")
            </div>
                @Html.Action("PartialContactMap", "UIContact")
                @Html.Action("PartialContactMessage", "UIContact")
            </div>
        </div>
</div>