@model MyElearningProject.DAL.Entities.Message
@{
    ViewBag.Title = "UpdateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Mesaj Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.MessageID)
    <br /><br />
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br /><br />
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br /><br />
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br /><br />
    @Html.TextBoxFor(x => x.MessageDescription, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-primary">Güncelle</button>
</form>

